.post-container{
    width: 500px !important;
}

.icons{
    cursor: pointer;
    color: white;
}

.icons:hover{
    color: grey;
}

.card-footer{
    background-color: rgb(179, 179, 179) !important;
}

.uploaded-post{
    width: 100%;
    height: 100%;
}

.card{
    margin-top: 10px;
    border: 2px solid black !important;
    box-shadow: 2px 2px 5px;
}

.context{
    margin-top: -15px;
}

.card-body{
    background-color: rgb(58, 58, 58);
}

.card-body p{
    font-size: 20px;
    color: white !important;
}

.card-header{
    background-color:rgb(179, 179, 179) !important;
}
